{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue ~ {{ parent() }}
{% endblock %}

{% block stylesheets %}
   <style>
     .home{
       width: 100%;
       height: 80vh;
    }
    .bold {
        font-weight: bold;
    }
   </style>
{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="home d-flex justify-content-center align-items-center">
            <div class="content w-50">
                <h1 class="text-success text-uppercase bold">Portail de souscription</h1>
                <p>L’idée en générale de ce mini projet consiste à faire une simple application pour un portail de souscription, c'est -à -dire un utilisateur souscrire à une offre.</p>
                <div class="mt-4">
                    <a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'inscrire</a>
                    <a href="{{ path('app_login') }}" class="btn btn-success">Se Connecter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
