{% extends 'base.html.twig' %}

{% block title %}Connexion ~
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
   <style>
     .home{
       width: 100%;
       height: 500px;
    }
   </style>
{% endblock %}

{% block body %}
	<div class="container p-5">
		<div class="home d-flex justify-content-center align-items-center">
			<div class="content w-50">
				<h1 class="text-success text-uppercase bold">Authentification</h1>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous ètes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}
				<form method="post" class="mt-3">
                    <label for="inputEmail">E-mail</label>
                    <input type="email" placeholder="rabarisonheriniainamg@gmail.com" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword" class="mt-3">Mot de passe</label>
                    <input type="password" placeholder="Votre mot de passe ..." name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{ path('app_register') }}">S'inscrire</a>
                        <button class="btn btn-primary float-right mt-3" type="submit">
                            Se Connecter
                        </button>
                    </div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}

