{% extends 'base.html.twig' %}

{% block title %}Inscription ~
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	<style>
		.home {
			width: 100%;
			height: 500px;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container p-5">
		<div class="home d-flex justify-content-center align-items-center">
			<div class="content w-50">
				<h1 class="text-success px-2 text-uppercase bold">Inscription</h1>

				{{ form_start(registrationForm) }}
				<div class="form-register row">
					<div class="col-lg-6">{{ form_row(registrationForm.name) }}</div>
					<div class="col-lg-6">{{ form_row(registrationForm.email) }}</div>
					<div class="col-lg-6">{{ form_row(registrationForm.plainPassword) }}</div>
					<div class="col-lg-6">{{ form_row(registrationForm.phoneNumber) }}</div>
					<div class="col-lg-12">{{ form_row(registrationForm.address) }}</div>
					<div class="agree">
						{{ form_widget(registrationForm.agreeTerms) }}
						{{ form_label(registrationForm.agreeTerms) }}
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<a href="{{ path('app_login') }}">Se connecter</a>
						<button type="submit" class="btn btn-info">Devenir notre membre</button>
					</div>
				</div>
				{{ form_end(registrationForm) }}

			</div>
		</div>
	</div>

{% endblock %}


{% block javascripts %}
	<script>
		$('input').addClass('mb-3')
	</script>
{% endblock %}
