{% for types, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ types }} col-lg-12 text-center" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}

