<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
	<div class="container">
		<a href="{{ path('app_offer') }}" class="navbar-brand">
			<h3 class="brand-text text-success font-weight-light text-uppercase bold">Portail de souscription</h4>
		</a>

		<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_offer_user_archive') }}">
					<i class="far fa-bell"></i>
					Mes Historiques
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_user_profile') }}">
					<i class="fas fa-edit"></i>
					Mon Profil
				</a>
			</li>

			<li class="nav-item">
				<a class="btn btn-outline-danger" href="{{ path('app_logout') }}">
					<i class="fas fa-signout"></i>
					Déconnexion
				</a>
			</li>


		</ul>
	</div>
</nav>
