{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-uppercase">Les clients</h1>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<table id="example1" class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>Nom</th>
										<th>E-mail</th>
										<th>Téléphone</th>
										<th>Addresse</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
										<tr>
											<td>{{ user.name }}</td>
											<td>{{ user.email }}</td>
											<td>{{ user.phoneNumber }}</td>
											<td>{{ user.address }}</td>
											<td class='d-flex justify-content-center'>
												<a title="Voir" class="btn btn-sm btn-outline-primary" href="{{ path('app_admin_client_show', {'id': user.id}) }}">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Nom</th>
										<th>E-mail</th>
										<th>Téléphone</th>
										<th>Addresse</th>
										<th>Action</th>
									</tr>
								</tfoot>
							</table>
						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
