{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-uppercase">Information d'un client</h1>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 mx-auto">
							<div class="card">
								<div class="card-header">
									<span class="text-uppercase font-weight-bold">{{ user.name }}</span>
								</div>
								<div class="card-body">
									<h5 class="card-title">
										<span class="badge bg-secondary">
											<i class="fas fa-envelope"></i>
											{{ user.email }}</span>
									</h5>
									<p class="card-text"></p>
									<p>
										<i class="fas fa-address-card"></i>
										{{ user.address }}</p>
									<p>
										<i class="fas fa-fax"></i>
										{{ user.phoneNumber }}</p>
									<a href="{{ path('app_admin_clients') }}" class="btn btn-primary">retour</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
