{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-uppercase">Les offres valables</h1>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						{% for offer in offers %}
							<div class="col-lg-6 mb-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title m-0">{{ offer.title }}</h5>
									</div>
									<div class="card-body">
										<h6 class="card-title">{{ offer.description | u.truncate(145, '...')}}</h6>
										<p>Prix :
											<span class="badge bg-secondary">{{ offer.price }}
												£</span>
										</p>
										<a href="{{ path('app_admin_offer_edit', {'id': offer.id}) }}" class="btn btn-outline-info">Modifier</a>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>

				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
