{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-uppercase">Les Souscriptions</h1>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<table id="example1" class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>Date</th>
										<th>Client</th>
										<th>Offre</th>
									</tr>
								</thead>
								<tbody>
									{% for subscription in subscriptions %}
										<tr>
											<td>{{ subscription.createdAt|ago }}</td>
											<td>
												<a href="{{ path('app_admin_client_show',{id: subscription.user.id}) }}">{{ subscription.user.name }}</a>
											</td>
											<td>{{ subscription.offer.title }}</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Date</th>
										<th>Client</th>
										<th>Offre</th>
									</tr>
								</tfoot>
							</table>
						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
