<aside class="main-sidebar sidebar-dark-info elevation-4">
	<a href="{{ path('app_admin_home') }}" class="brand-link">
		<span class="brand-text font-weight-bold text-uppercase" style="font-family: 'sans-serif'">Portail de souscription!</span>
	</a>

	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">{{ app.user.name }}</a>
			</div>
		</div>
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Recherche ..." aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item menu-open">
					<a href="#" class="nav-link active">
						<p>
							<i class="fas fa-bars"></i>
							&nbsp;	Menu
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>


					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="{{ path('app_admin_clients') }}" class="nav-link {% if activeMenu == "clients" %}active{% endif %}">
								<i class="nav-icon fas fa-user"></i>
								<p>
									Clients
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('app_admin_offer_index') }}" class="nav-link {% if activeMenu == "offres" %}active{% endif %}">
								<i class="nav-icon fas fa-donate"></i>
								<p>
									Offres
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('app_admin_subscription') }}" class="nav-link {% if activeMenu == "subscription" %}active{% endif %}">
								<i class="nav-icon fas fa-circle"></i>
								<p>
									Souscription
								</p>
							</a>
						</li>

					</ul>
				</li>


			</li>
		</li>
	</ul>
</nav></div></aside>
