{% extends 'base.html.twig' %}

{% block title %}Mes archives ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		{% include "client/partials/layouts/_navbar.html.twig" %}
		<h3 class="my-4 px-2">Mes archives</h3>
		<div class="row">
			<div class="col-lg-12">
				{% if subscribes %}
					<table class="table table-striped table-hover table-bordered">
						<tr>
							<th>Nom de l'offre</th>
							<th>Description</th>
							<th>Prix</th>
							<th>Date de souscription</th>
						</tr>
						{% for subscribe in subscribes %}
							{% set offer = subscribe.offer %}
							<tr>
								<td>{{ offer.title }}</td>
								<td>{{ offer.description }}</td>
								<td>
									<span class="badge bg-secondary">{{ offer.price }}
										£</span>
								</td>
								<td>{{ subscribe.createdAt|ago }}</td>
							</tr>
						{% endfor %}
					</table>

				{% else %}
                    <p class="text-center p-5">Aucun souscrite</p>
				{% endif %}

			</div>

		</div>

	</div>

{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
