{% extends 'base.html.twig' %}

{% block title %}Profil ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		{% include "client/partials/layouts/_flashMessage.html.twig" %}
		{% include "client/partials/layouts/_navbar.html.twig" %}
		<div class="row mt-5">
			<div class="mx-auto col-lg-6 text-cednter">
				<h3 class="bold mb-4">Modification</h3>
				<div class="card">
					<div class="card-body">
						{{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-6">{{ form_row(form.name) }}</div>
                                <div class="col-lg-6">{{ form_row(form.phoneNumber) }}</div>
                                <div class="col-lg-12">{{ form_row(form.email) }}</div>
                                <div class="col-lg-12">{{ form_row(form.address) }}</div>
                                <button type="submit" class="btn mx-auto col-lg-6 btn-primary">Modifier</button>
                            </div>
						{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}{% block javascripts %}
<script></script>{% endblock %}

