{% extends 'base.html.twig' %}

{% block title %}Les offers valables ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		{% include "client/partials/layouts/_flashMessage.html.twig" %}
		{% include "client/partials/layouts/_navbar.html.twig" %}

		{# avalaible offers #}
		<h3 class="my-4 px-2">Les offres Valables</h3>
		<div class="row">
			{% for offer in offers %}
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title m-0">{{ offer.title }}</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">{{ offer.description }}</h6>
							<p>Prix :
								<span class="badge bg-secondary">{{ offer.price }}
									£</span>
							</p>
							<a href="{{ path('app_offer_subcribe',{ offer: offer.id }) }}" class="btn btn-outline-success">Souscrire</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
