{% extends 'base.html.twig' %}

{% block title %}Profil ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		{% include "client/partials/layouts/_flashMessage.html.twig" %}
		{% include "client/partials/layouts/_navbar.html.twig" %}
		<div class="row mt-5">
			<div class="mx-auto col-lg-6 text-cednter">
				<h3 class="bold mb-4">Mon profil</h3>
				<div class="card">
					<div class="card-header">
						{{ user.name }}
					</div>
					<div class="card-body">
						<h5 class="card-title">
                            <span class="badge bg-secondary"><i class="fas fa-envelope"></i>
                            {{ user.email }}</span>
                        </h5>
						<p class="card-text"> 
                            <p><i class="fas fa-address-card"></i> {{ user.address }}</p>
                            <p><i class="fas fa-fax"></i> {{ user.phoneNumber }}</p>
                        </p>
						<a href="{{ path('app_user_profile_edit') }}" class="btn btn-primary">Modifier</a>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
