{% extends 'base.html.twig' %}

{% block title %}Les offers valables ~
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		{% include "client/partials/layouts/_navbar.html.twig" %}

		<div class="row my-4">
			<div class="mx-auto col-lg-6 mb-4">
				<div class="card text-center">
					<div class="card-header bg-success">
						<h5 class="card-title text-white m-0">Souscription avec succès</h5>
					</div>
					<div class="card-body">
						<h6 class="card-title my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda laborum nulla possimus odit, dolorum unde sequi incidunt nobis aliquid qui delectus. Aperiam, itaque! Natus nemo perspiciatis repellendus dignissimos odio.</h6>
						<a href="{{ path('app_offer') }}" class="btn btn-outline-success mt-3">Accueil</a>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
