@font-face {
    font-family: "poppins";
    src: url("./Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("./Poppins/Poppins-Bold.ttf");
}

* {
    font-family: "poppins";
    font-size: 14px;
}

body {
    /* overflow-x: hidden; */
}


.bold {
    font-weight: bold;
}