{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Les offres</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="#" class="">Ajouter une nouvelle offre</a>
								</li>
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 mx-auto">
							<div class="card">
								<div class="card-header bg-info">
									<h3 class="card-title text-uppercase font-weight-bold">Modification d'un offre</h3>
								</div>
								<div class="card-body">
									{{ include('admin/offers/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
								</div>
							</div>

						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}

