{% extends "admin/bo.html.twig" %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Les offres</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="{{ path('app_admin_offer_new') }}">Ajouter une nouvelle offre</a>
								</li>
								<li class="breadcrumb-item active">Administration</li>
							</ol>
						</div>
					</div>

				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							{{ include('admin/layouts/_flashMessage.html.twig') }}
						</div>
						<div class="col-lg-12">
							<table id="example1" class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>Id</th>
										<th>Titre</th>
										<th>Description</th>
										<th>Prix</th>
										<th>Statuts</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for offer in offers %}
										<tr>
											<td>{{ offer.id }}</td>
											<td>{{ offer.title }}</td>
											<td>{{ offer.description }}</td>
											<td>
												<span class="badge bg-secondary">{{ offer.price }}
													£</span>
											</td>
											<td>{{ offer.statuts ? '<span class="badge bg-success">Activé</span>' : '<span class="badge bg-danger">Désactivé</span>' }}</td>
											<td class="d-flex justify-content-center align-items-center">
												<a title="Modifier" class="btn btn-sm btn-primary" href="{{ path('app_admin_offer_edit', {'id': offer.id}) }}">
													<i class="fas fa-edit"></i>
												</a>
												<form method="post" action="{{ path('app_admin_offer_delete', {'id': offer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offer.id) }}">
													<button class="btn btn-danger btn-sm">
														<i class="fas fa-trash"></i>
													</button>
												</form>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Id</th>
										<th>Titre</th>
										<th>Description</th>
										<th>Prix</th>
										<th>Statuts</th>
										<th>Actions</th>
									</tr>
								</tfoot>
							</table>
						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}
{% endblock %}
