<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portail de souscription!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/styles/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('/styles/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/sweetalert2/sweetalert2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/style.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('/styles/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('/styles/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('/styles/toastr/toastr.min.js') }}"></script>
        <script src="{{ asset('/styles/sweetalert2/sweetalert2.min.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
